/* Style for the header */
header {
    background-color:  hwb(249 6% 5%);
    color: #fff;
    padding: 0px;
    text-align: center;
    width:100%;
}

/* Style for the footer */
footer {
    background-color: hwb(71 4% 5%);
    color: #fff;
    padding: 40px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer img{
    width:100px;
    height:100px;
}


/* Style for the product cards container */
.product-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

/* Style for individual product cards */
.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

/*style for product-card images */

img{
    width:150px;
    height:150px;
}

button {
    background-color: hwb(249 6% 5%);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .cart{
    
    left: 40%;
    color:black;
    font-size: 16px;
   

  }

